body {
    font-family: sans-serif;
}

.background{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 380px;
}

.left_ovel {
    position: absolute;
    margin-top: auto;
    width: 121px;
    height: 121px;
    background: #FF0D6A;
    filter: blur(75px);
    border-radius: 50%;
}

.middle_ovel {
    position: absolute;
    margin-top: auto; 
    margin-left: 8%;
    width: 121px;
    height: 121px;
    background: #0500FF;
    filter: blur(75px);
    border-radius: 50%;
}

.right_ovel {
    position: absolute;
    margin-top: auto;
    margin-left: 14%;
    width: 121px;
    height: 121px;
    background: #00FFE0;
    filter: blur(75px);
    border-radius: 50%;
}

.hero_section{
    width: 90%;
    margin: auto;
    display: flex;
}

.hero_left{
    width: 50%;
    height: 100%;
    margin: auto;
    padding-left: 15%;
    flex-direction: column;
    justify-content: center;
}

.hero_right{
    width: 50%;
    height: 100%;
    padding-right: 15%;
}

img{
    height: 500px;
    width: 500px;
    object-fit: contain;
}

.first_heading{
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    color: #1E0E62;
    z-index: 1;
}

.second_heading{
    position: relative;
    margin-top: 5px;
    color: #1E0E62;
    font-size: 3em;
    font-weight: 1000;
    z-index: 1;
}

.third_snippet {
    position: relative;
    margin-top: 20px;
    opacity: 0.4;
    color: #1E0E62;
    font-size: 1.2em;
    font-weight: bold;
    text-align: justify;
    z-index: 1;
    line-height: 1.1;
}